# Ignore OS files
.DS_Store

# Only keep important files in the `prj`directory
prj/*
!prj/OptoHybrid_v2.xise

*.bit
*.mcs
*.*bak
*.*cmd
*.*log
*.err
*.gise
*.html
*.jhd
*.ncd
*.prj
*.spl
*.stx
*.tim
*.tspec
*.xst
*.xwbt
*BatchFile
*_xdb
_ngo
_xmsgs
*.xmsgs


!*.xpr
!*.xise
!*.tcl
*/bd/*
!*/bd/*.bd
*.swp
*.~
*.*~
*.o
.Xil

*.xcix
src/ip_cores_a7/*
src/ip_cores/*
!src/ip_cores_a7/*/*.xci
!src/ip_cores/*.xco
!src/ip_cores/*/*.xco
tags

iseconfig
*.pyc
*.prm
*.cfi

doc/latex/*
!doc/latex/*.tex

vivado/*

release/
