NET "gbt_dclk_p<0>" TNM_NET = "TN_gbt_dclk0";
TIMESPEC TS_gbt_dclk0 = PERIOD "TN_gbt_dclk0" 25 ns HIGH 50%;

NET "gbt_dclk_p<1>" TNM_NET = "TN_gbt_dclk1";
TIMESPEC TS_gbt_dclk1 = PERIOD "TN_gbt_dclk1" 25 ns HIGH 50%;

