NET "logic_clock_p" TNM_NET = "TN_logic_clock";
TIMESPEC TS_logic_clock = PERIOD "TN_logic_clock" 25 ns HIGH 50%;

NET "elink_clock_p" TNM_NET = "TN_elink_clock";
TIMESPEC TS_elink_clock = PERIOD "TN_elink_clock" 25 ns HIGH 50%;

