#######################################################################################################################
# Clock Periods
#######################################################################################################################

# Main E-link clock
NET "clock_p" TNM_NET = "TN_CLOCK";
TIMESPEC TS_clock = PERIOD "TN_CLOCK" 3.09 ns HIGH 50 %;

## MGT reference clocks
#NET "mgt_clk_p_i<0>" TNM_NET = "TN_MGT_CLK_0";
#TIMESPEC TS_mgt_clk_0 = PERIOD "TN_MGT_CLK_0" 12.36 ns HIGH 50 %;

NET "mgt_clk_p_i<1>" TNM_NET = "TN_MGT_CLK_1";
TIMESPEC TS_mgt_clk_1 = PERIOD "TN_MGT_CLK_1" 12.36 ns HIGH 50 %;

#######################################################################################################################
# CFGMCLK
#######################################################################################################################

NET "control/led_control_inst/async_clock" TNM_NET = "cfgmclk";
TIMESPEC TS_cfgmclk = PERIOD "cfgmclk" 12.5 ns HIGH 50 %;

TIMESPEC TS_clk_cfg_to_clk_logic = FROM "cfgmclk" TO  FFS TIG ;

########################################################################################################################
# E-link clock
########################################################################################################################

NET "clock_p" IOSTANDARD = LVDS_25;
NET "clock_p" DIFF_TERM = "FALSE";
NET "clock_n" IOSTANDARD = LVDS_25;
NET "clock_n" DIFF_TERM = "FALSE";

## GBTx data clock
## It is a 320MHz data clock
NET "clock_p" LOC = J9; #elink clock
NET "clock_n" LOC = H9; #elink clock

#NET "clock_p"   LOC = A10; #dskw clock
#NET "clock_n"   LOC = B10; #dskw clock
# DSKW clock is not used, jitter is higher and causes communications problems
