########################################################################################################################
# GBT Status
########################################################################################################################
# v_diff_k_13_p
# R_side_2_n
# R_side_2_p
NET "gbt_txready_i[0]" TNM = "gbt_status_grp";
NET "gbt_rxvalid_i[0]" TNM = "gbt_status_grp";
NET "gbt_rxready_i[0]" TNM = "gbt_status_grp";

TIMEGRP "gbt_status_grp" OFFSET = IN 12.5 ns VALID 25 ns BEFORE "logic_clock_p" RISING;

########################################################################################################################
# E-links
########################################################################################################################
# outputs

# inputs
# 320 MHz e-link
# GBTx DIN 36
NET "elink_i_p" IOSTANDARD = LVDS_25;
NET "elink_i_p" DIFF_TERM = "FALSE";
#
NET "elink_i_n" IOSTANDARD = LVDS_25;
NET "elink_i_n" DIFF_TERM = "FALSE";

NET "elink_o_p" LOC = L19;
NET "elink_o_n" LOC = L18;

NET "elink_i_p" LOC = AD24;
NET "elink_i_n" LOC = AE24;



#NET "gbt/gbt_serdes/gbt_rx_data_sync/*/xst_fifo_generator/gconvfifo.rf/grf.rf/*/wr_pntr_gc_*" TIG;
#NET "gbt/gbt_serdes/gbt_rx_data_sync/*/xst_fifo_generator/gconvfifo.rf/grf.rf/*/rd_pntr_gc_*" TIG;

NET "gbt/gbt_serdes/gbt_rx_data_sync/*/xst_fifo_generator/gconvfifo.rf/grf.rf/*/wr_pntr_gc_*" TNM_NET = "WR_PNTR";
NET "gbt/gbt_serdes/gbt_rx_data_sync/*/xst_fifo_generator/gconvfifo.rf/grf.rf/*/rd_pntr_gc_*" TNM_NET = "RD_PNTR";

# Datapathonly indicates that timing should not take into account clock skew or phase information

TIMESPEC TS_wr_pntr = FROM "WR_PNTR" TO  FFS 10 ns DATAPATHONLY;
TIMESPEC TS_rd_pntr = FROM  FFS TO "RD_PNTR" 10 ns DATAPATHONLY;

TIMESPEC TS_wr_pntr_tig = FROM "WR_PNTR" TO  FFS TIG ;
TIMESPEC TS_rd_pntr_tig = FROM  FFS TO "RD_PNTR" TIG ;

