#
# Clock constraints

NET "U_ila_pro_*/CLK" TNM_NET = "D_CLK";
NET "U_ila_pro_*/CLK" TNM_NET = "D_CLK";

#NET "icon_control*<*>" TNM_NET = TNM_ICON_CONTROL;

#TIMESPEC TS_ICON_TO_CLK1X = FROM TN_LOGIC_CLOCK TO TNM_ICON_CONTROL 10ns DATAPATHONLY;
#TIMESPEC TS_CLK1X_TO_ICON = FROM TNM_ICON_CONTROL TO TN_LOGIC_CLOCK 10ns DATAPATHONLY;
#
#TIMESPEC TS_ICON_TO_CLKGBT = FROM TN_ELINK_CLOCK TO TNM_ICON_CONTROL 10ns DATAPATHONLY;
#TIMESPEC TS_CLKGBT_TO_ICON = FROM TNM_ICON_CONTROL TO TN_ELINK_CLOCK 10ns DATAPATHONLY;

INST "U_ila_pro_*/U0/*/U_STAT/*U_DIRTY_LDC*" TNM = "DIRTY_LDC_GRP";
INST "U_ila_pro_*/U0/*/U_RST/U_ARM_XFER/U_GEN_DELAY*" TNM = "GENDLY";

#TIMESPEC TS_GENDLY_TO_LATCHES = FROM "GENDLY" TO  "LATCHES" 10 ns DATAPATHONLY;
#TIMESPEC TS_GENDLY_TO_LATCHES_TIG = FROM "GENDLY" TO  "LATCHES" TIG ;
#TIMESPEC TS_GENDLY_TO_FFS = FROM "GENDLY" TO  "FFS" 10 ns DATAPATHONLY;
#TIMESPEC TS_GENDLY_TO_FFS_TIG = FROM "GENDLY" TO  "FFS" TIG ;

#set_false_path -from [get_cells <<instance_name>>/U0/*/U_STAT/U_DIRTY_LDC] -to [get_cells -of_objects [filter [all_fanout -flat -endpoints_only -from [get_nets -hier {CONTROL[0]}]] IS_CLOCK]]
#TIMESPEC TS_GENDLY_TO_FFS     = FROM "GENDLY" TO  "FFS" 10 ns DATAPATHONLY;
#TIMESPEC TS_GENDLY_TO_FFS_TIG = FROM "GENDLY" TO  "FFS" TIG ;
TIMESPEC TS_DIRTY_TO_LATCHES    = FROM  "DIRTY_LDC_GRP" TO "LATCHES" 10 ns DATAPATHONLY;
TIMESPEC TS_DIRTY_TO_LATCHESTIG = FROM  "DIRTY_LDC_GRP" TO "LATCHES" TIG ;
TIMESPEC TS_DIRTY_TO_FFS    = FROM  "DIRTY_LDC_GRP" TO "FFS" 10 ns DATAPATHONLY;
TIMESPEC TS_DIRTY_TO_FFSTIG = FROM  "DIRTY_LDC_GRP" TO "FFS" TIG ;

#set_false_path -from [get_cells -of_objects [filter [all_fanout -flat -endpoints_only -from [get_nets -hier {CONTROL[0]}]] IS_CLOCK]] -to [get_cells <<instance_name>>/U0/*/U_STAT/U_DIRTY_LDC]
TIMESPEC TS_FFS_TO_DIRTY    = FROM  "FFS" TO "DIRTY_LDC_GRP" 10 ns DATAPATHONLY;
TIMESPEC TS_FFS_TO_DIRTYTIG = FROM  "FFS" TO "DIRTY_LDC_GRP" TIG ;
TIMESPEC TS_LATCHES_TO_DIRTY    = FROM  "LATCHES" TO "DIRTY_LDC_GRP" 10 ns DATAPATHONLY;
TIMESPEC TS_LATCHES_TO_DIRTYTIG = FROM  "LATCHES" TO "DIRTY_LDC_GRP" TIG ;

# Datapathonly indicates that timing should not take into account clock skew or phase information

#set_false_path -from [get_cells  <<instance_name>>/U0/*/U_RST/U_ARM_XFER/U_GEN_DELAY[3].U_FD] -to [get_cells <<instance_name>>/U0/*/U_STAT/U_DIRTY_LDC]
#TIMESPEC TS_GENDLY_TO_DIRTY_LDC_GRP = FROM "GENDLY" TO "DIRTY_LDC_GRP" 10 ns DATAPATHONLY;
#TIMESPEC TS_GENDLY_TO_DIRTY_LDC_GRP_TIG = FROM "GENDLY" TO "DIRTY_LDC_GRP" 10 ns TIG;
#TIMESPEC TS_DIRTY_LDC_GRP_TO_GENDLY = FROM "DIRTY_LDC_GRP" TO "GENDLY" 10 ns DATAPATHONLY;

# Input keep/save net constraints
#
#NET "U_ila_pro_*/TRIG0<*" S;
#NET "U_ila_pro_*/TRIG0<*" KEEP;
