#
# Clock constraints

NET "U_ila_pro_*/CLK" TNM_NET = D_CLK ;
NET "U_ila_pro_*/CLK" TNM_NET = D_CLK ;

#NET "icon_control*<*>" TNM_NET = TNM_ICON_CONTROL;

#TIMESPEC TS_ICON_TO_CLK1X = FROM TN_LOGIC_CLOCK TO TNM_ICON_CONTROL 10ns DATAPATHONLY;
#TIMESPEC TS_CLK1X_TO_ICON = FROM TNM_ICON_CONTROL TO TN_LOGIC_CLOCK 10ns DATAPATHONLY;
#
#TIMESPEC TS_ICON_TO_CLKGBT = FROM TN_ELINK_CLOCK TO TNM_ICON_CONTROL 10ns DATAPATHONLY;
#TIMESPEC TS_CLKGBT_TO_ICON = FROM TNM_ICON_CONTROL TO TN_ELINK_CLOCK 10ns DATAPATHONLY;

INST "U_ila_pro_*/U0/*/U_STAT/U_DIRTY_LDC"            TNM = D2_CLK;
INST "U_ila_pro_*/U0/*/U_RST/U_ARM_XFER/U_GEN_DELAY*" TNM = GENDLY;

#TIMESPEC TS_D2_TO_T2_ila_pro = FROM D2_CLK TO "FFS" 10ns DATAPATHONLY;

TIMESPEC TS_GENDLY_TO_LATCHES     = FROM GENDLY TO "LATCHES" 10ns DATAPATHONLY;
TIMESPEC TS_GENDLY_TO_LATCHES_TIG = FROM GENDLY TO "LATCHES" TIG;

TIMESPEC TS_FFS_TO_DIRTY    = FROM "FFS" TO D2_CLK 10ns DATAPATHONLY;
TIMESPEC TS_FFS_TO_DIRTYTIG = FROM "FFS" TO D2_CLK TIG;

# Datapathonly indicates that timing should not take into account clock skew or phase information

TIMESPEC TS_GENDLY_TO_D2_CLK = FROM GENDLY TO D2_CLK TIG;
TIMESPEC TS_D2_CLK_TO_GENDLY = FROM D2_CLK TO GENDLY TIG;

TIMESPEC TS_GENDLY_TO_D2_CLK = FROM GENDLY TO D2_CLK 10ns DATAPATHONLY;
TIMESPEC TS_D2_CLK_TO_GENDLY = FROM D2_CLK TO GENDLY 10ns DATAPATHONLY;

# Input keep/save net constraints
#
#NET "U_ila_pro_*/TRIG0<*" S;
#NET "U_ila_pro_*/TRIG0<*" KEEP;
