# This file constraints miscellaneous signals

## ADC

# N1_P
NET "adc_chip_select_o" LOC = L23;
# N11_P
NET "adc_din_i" LOC = U23;
# L4_P
NET "adc_dout_o" LOC = A13;
# N18_P
NET "adc_clk_o" LOC = AB23;
# L14_N
NET "adc_eoc_i" LOC = B11;

## Temperature sensor

# L4_N
NET "temp_clk_o" LOC = A14;
# N12_N
NET "temp_data_io" LOC = AE24;

##

# N18_N
NET "chipid_io" LOC = AE23;

## HDMI

#NET "hdmi_scl_io<0>"    LOC = AF15; # J1_N
#NET "hdmi_scl_io<1>"    LOC = AG13; # K13_N

#NET "hdmi_sda_io<0>"    LOC = AD15; # J10_N
#NET "hdmi_sda_io<1>"    LOC = AF13; # K13_P

## TMDS

#NET "tmds_d_p_io<0>"    LOC = AC13; # K10
#NET "tmds_d_n_io<0>"    LOC = AC12;

#NET "tmds_d_p_io<1>"    LOC = AD12; # K11
#NET "tmds_d_n_io<1>"    LOC = AD11;

#NET "tmds_clk_p_io"     LOC = AF11; # K5
#NET "tmds_clk_n_io"     LOC = AE11;

## ADC

NET "xadc_p_i<0>"       LOC = U18;
NET "xadc_p_i<1>"       LOC = B12;
NET "xadc_p_i<2>"       LOC = H12;

NET "xadc_n_i<0>"       LOC = V17;
NET "xadc_n_i<1>"       LOC = B13;
NET "xadc_n_i<2>"       LOC = J12;

## External signals for Test Beam

NET "ext_clk_i" CLOCK_DEDICATED_ROUTE = FALSE;
NET "ext_clk_i" LOC = AC13;
NET "ext_trigger_i" LOC = AC12;
NET "ext_sbits_o[0]" LOC = AD12;
NET "ext_sbits_o[1]" LOC = AD11;
NET "ext_sbits_o[2]" LOC = AF11;
NET "ext_sbits_o[3]" LOC = AE11;
NET "ext_sbits_o[4]" LOC = AF15;
NET "ext_sbits_o[5]" LOC = AD15;
