# This file constraints miscellaneous signals
## HDMI
#NET "tmds_d_p_io<0>"    LOC = M17; # M8_N # J3
#NET "tmds_d_n_io<0>"    LOC = M18;        # J2
#NET "tmds_d_p_io<1>"    LOC = L14; # M11_N # J11
#NET "tmds_d_n_io<1>"    LOC = L15;         # J10
#NET "tmds_d_p_io<2>"    LOC = J16; # M15_N # J9
#NET "tmds_d_n_io<2>"    LOC = J17;         # J8
#NET "tmds_clk_p_io"     LOC = H17; # M4_P # J5
#NET "tmds_clk_n_io"     LOC = G17;        # J4
## External signals for Test Beam
#NET "ext_clk_i" CLOCK_DEDICATED_ROUTE = FALSE;
#NET "ext_clk_i" LOC = M17;
#NET "ext_trigger_i" LOC = M18; # M18 for ULB; L14 for others
#NET "ext_sbits_o[0]" LOC = G17;
#NET "ext_sbits_o[1]" LOC = H17;
#NET "ext_sbits_o[2]" LOC = J17;
#NET "ext_sbits_o[3]" LOC = J16;
#NET "ext_sbits_o[4]" LOC = L15;
#NET "ext_sbits_o[5]" LOC = L14; # L14 for ULB; M18 for others
## Header
# INST "led_o" IOB=TRUE;

NET "led_o<0>"  LOC = H27  ; # vdiff_e_13_p
NET "led_o<1>"  LOC = G28  ; # vdiff_e_13_n
NET "led_o<2>"  LOC = B25  ; # vdiff_e_4_p
NET "led_o<3>"  LOC = A25  ; # vdiff_e_4_n
NET "led_o<4>"  LOC = B26  ; # vdiff_e_6_p
NET "led_o<5>"  LOC = A26  ; # vdiff_e_6_n
NET "led_o<6>"  LOC = C27  ; # vdiff_e_8_n
NET "led_o<7>"  LOC = B27  ; # vdiff_e_8_p
NET "led_o<8>"  LOC = C14  ; # vdiff_l_2_n
NET "led_o<9>"  LOC = D14  ; # vdiff_l_2_p
NET "led_o<10>" LOC = C13  ; # vdiff_l_12_p
NET "led_o<11>" LOC = C12  ; # vdiff_l_12_n
NET "led_o<12>" LOC = B15  ; # vdiff_m_16_n
NET "led_o<13>" LOC = A15  ; # vdiff_m_16_p
NET "led_o<14>" LOC = G26  ; # vdiff_e_7_p
NET "led_o<15>" LOC = G27  ; # vdiff_e_7_n

INST "led_o<0>" TNM = led_o;
INST "led_o<1>" TNM = led_o;
INST "led_o<2>" TNM = led_o;
INST "led_o<3>" TNM = led_o;
INST "led_o<4>" TNM = led_o;
INST "led_o<5>" TNM = led_o;
INST "led_o<6>" TNM = led_o;
INST "led_o<7>" TNM = led_o;
INST "led_o<8>" TNM = led_o;
INST "led_o<9>" TNM = led_o;
INST "led_o<10>" TNM = led_o;
INST "led_o<11>" TNM = led_o;
INST "led_o<12>" TNM = led_o;
INST "led_o<13>" TNM = led_o;
INST "led_o<14>" TNM = led_o;
INST "led_o<15>" TNM = led_o;

INST "ext_sbits_o<0>" TNM = ext_sbits_o;
INST "ext_sbits_o<1>" TNM = ext_sbits_o;
INST "ext_sbits_o<2>" TNM = ext_sbits_o;
INST "ext_sbits_o<3>" TNM = ext_sbits_o;
INST "ext_sbits_o<4>" TNM = ext_sbits_o;
INST "ext_sbits_o<5>" TNM = ext_sbits_o;

TIMEGRP "led_o"       OFFSET = OUT 12.5 ns VALID 25 ns BEFORE "gbt_dclk_p<0>" RISING;
TIMEGRP "ext_sbits_o" OFFSET = OUT 12.5 ns VALID 25 ns BEFORE "gbt_dclk_p<0>" RISING;

# XADC
INST "adc_inst/xadc_inst/SYSMON_INST" LOC = SYSMON_X0Y0;

# GBT
# NET "gbt_txvalid_o" LOC =      ; # hardwired, apparently
NET "gbt_txready_i" LOC = AF13 ; # v_diff_k_13_p
NET "gbt_rxvalid_i" LOC = AJ9  ; # R_side_2_n
NET "gbt_rxready_i" LOC = AH9  ; # R_side_2_p



################################################################################
# VFAT resets
################################################################################
#### START: AUTO GENERATED RESETS UCF -- DO NOT EDIT ####
NET "ext_reset_o<10>" LOC="AL23";
NET "ext_reset_o<1>" LOC="D15";
NET "ext_reset_o<8>" LOC="AL30";
NET "ext_reset_o<7>" LOC="AL31";
NET "ext_reset_o<4>" LOC="W27";
NET "ext_reset_o<2>" LOC="C15";
NET "ext_reset_o<0>" LOC="A16";
NET "ext_reset_o<6>" LOC="AK31";
NET "ext_reset_o<11>" LOC="AP24";
NET "ext_reset_o<9>" LOC="AM23";
NET "ext_reset_o<5>" LOC="Y27";
NET "ext_reset_o<3>" LOC="W26";
#### END: AUTO GENERATED RESETS UCF -- DO NOT EDIT ####

NET "mgt_clk_p_i" LOC = H6; #
NET "mgt_clk_n_i" LOC = H5; #
#NET "mgt_clk_p_i<1>" LOC = F6; #
#NET "mgt_clk_n_i<1>" LOC = F5; #
NET "mgt_tx_p_o<0>" LOC = M1; #
NET "mgt_tx_n_o<0>" LOC = M2; #
NET "mgt_tx_p_o<1>" LOC = K1; #
NET "mgt_tx_n_o<1>" LOC = K2; #
NET "mgt_tx_p_o<2>" LOC = H1; #
NET "mgt_tx_n_o<2>" LOC = H2; #
NET "mgt_tx_p_o<3>" LOC = F1; #
NET "mgt_tx_n_o<3>" LOC = F2; #

################################################################################
# VFAT Trigger Data
################################################################################
#### START: AUTO GENERATED SBITS UCF -- DO NOT EDIT ####
NET vfat_sof_p<0>      LOC="AN19"; # polarity swap
NET vfat_sof_n<0>      LOC="AN20"; # polarity swap
NET vfat_sbits_n<0>    LOC="AH20";
NET vfat_sbits_p<0>    LOC="AJ20";
NET vfat_sbits_n<1>    LOC="AJ21";
NET vfat_sbits_p<1>    LOC="AK21";
NET vfat_sbits_p<2>    LOC="AG22"; # polarity swap
NET vfat_sbits_n<2>    LOC="AH22"; # polarity swap
NET vfat_sbits_n<3>    LOC="AK24";
NET vfat_sbits_p<3>    LOC="AJ24";
NET vfat_sbits_p<4>    LOC="AM25"; # polarity swap
NET vfat_sbits_n<4>    LOC="AL25"; # polarity swap
NET vfat_sbits_n<5>    LOC="AG26";
NET vfat_sbits_p<5>    LOC="AG25";
NET vfat_sbits_n<6>    LOC="AE26";
NET vfat_sbits_p<6>    LOC="AF26";
NET vfat_sbits_n<7>    LOC="AH28";
NET vfat_sbits_p<7>    LOC="AH27";
NET vfat_sof_p<1>      LOC="AE14"; # polarity swap
NET vfat_sof_n<1>      LOC="AF14"; # polarity swap
NET vfat_sbits_n<8>    LOC="AD15";
NET vfat_sbits_p<8>    LOC="AC15";
NET vfat_sbits_p<9>    LOC="AE16"; # polarity swap
NET vfat_sbits_n<9>    LOC="AD16"; # polarity swap
NET vfat_sbits_n<10>   LOC="AE17";
NET vfat_sbits_p<10>   LOC="AD17";
NET vfat_sbits_p<11>   LOC="AC18"; # polarity swap
NET vfat_sbits_n<11>   LOC="AC17"; # polarity swap
NET vfat_sbits_n<12>   LOC="AD19";
NET vfat_sbits_p<12>   LOC="AC19";
NET vfat_sbits_n<13>   LOC="AD20";
NET vfat_sbits_p<13>   LOC="AC20";
NET vfat_sbits_n<14>   LOC="AG21";
NET vfat_sbits_p<14>   LOC="AG20";
NET vfat_sbits_n<15>   LOC="AH24";
NET vfat_sbits_p<15>   LOC="AH23";
NET vfat_sof_p<2>      LOC="AM22"; # polarity swap
NET vfat_sof_n<2>      LOC="AN22"; # polarity swap
NET vfat_sbits_p<16>   LOC="AK13"; # polarity swap
NET vfat_sbits_n<16>   LOC="AL13"; # polarity swap
NET vfat_sbits_p<17>   LOC="AL15"; # polarity swap
NET vfat_sbits_n<17>   LOC="AL14"; # polarity swap
NET vfat_sbits_n<18>   LOC="AM15";
NET vfat_sbits_p<18>   LOC="AN15";
NET vfat_sbits_n<19>   LOC="AK16";
NET vfat_sbits_p<19>   LOC="AL16";
NET vfat_sbits_p<20>   LOC="AK18"; # polarity swap
NET vfat_sbits_n<20>   LOC="AK17"; # polarity swap
NET vfat_sbits_p<21>   LOC="AJ19"; # polarity swap
NET vfat_sbits_n<21>   LOC="AH19"; # polarity swap
NET vfat_sbits_p<22>   LOC="AK19"; # polarity swap
NET vfat_sbits_n<22>   LOC="AL19"; # polarity swap
NET vfat_sbits_n<23>   LOC="AL20";
NET vfat_sbits_p<23>   LOC="AM20";
NET vfat_sof_p<3>      LOC="AP22"; # polarity swap
NET vfat_sof_n<3>      LOC="AN23"; # polarity swap
NET vfat_sbits_n<24>   LOC="AG17";
NET vfat_sbits_p<24>   LOC="AH17";
NET vfat_sbits_n<25>   LOC="AF18";
NET vfat_sbits_p<25>   LOC="AE18";
NET vfat_sbits_n<26>   LOC="AG18";
NET vfat_sbits_p<26>   LOC="AH18";
NET vfat_sbits_n<27>   LOC="AE19";
NET vfat_sbits_p<27>   LOC="AF19";
NET vfat_sbits_n<28>   LOC="AD11";
NET vfat_sbits_p<28>   LOC="AD12";
NET vfat_sbits_p<29>   LOC="AE13"; # polarity swap
NET vfat_sbits_n<29>   LOC="AE12"; # polarity swap
NET vfat_sbits_p<30>   LOC="AL11"; # polarity swap
NET vfat_sbits_n<30>   LOC="AM11"; # polarity swap
NET vfat_sbits_n<31>   LOC="AJ12";
NET vfat_sbits_p<31>   LOC="AK12";
NET vfat_sof_p<4>      LOC="T33"; # polarity swap
NET vfat_sof_n<4>      LOC="T34"; # polarity swap
NET vfat_sbits_p<32>   LOC="AA34"; # polarity swap
NET vfat_sbits_n<32>   LOC="AA33"; # polarity swap
NET vfat_sbits_n<33>   LOC="Y34";
NET vfat_sbits_p<33>   LOC="Y33";
NET vfat_sbits_p<34>   LOC="V34"; # polarity swap
NET vfat_sbits_n<34>   LOC="W34"; # polarity swap
NET vfat_sbits_p<35>   LOC="V32"; # polarity swap
NET vfat_sbits_n<35>   LOC="V33"; # polarity swap
NET vfat_sbits_p<36>   LOC="AH29"; # polarity swap
NET vfat_sbits_n<36>   LOC="AH30"; # polarity swap
NET vfat_sbits_n<37>   LOC="AF31";
NET vfat_sbits_p<37>   LOC="AG31";
NET vfat_sbits_p<38>   LOC="AE33"; # polarity swap
NET vfat_sbits_n<38>   LOC="AF33"; # polarity swap
NET vfat_sbits_n<39>   LOC="AD31";
NET vfat_sbits_p<39>   LOC="AE31";
NET vfat_sof_n<5>      LOC="U32";
NET vfat_sof_p<5>      LOC="U33";
NET vfat_sbits_n<40>   LOC="AK32";
NET vfat_sbits_p<40>   LOC="AK33";
NET vfat_sbits_n<41>   LOC="AH34";
NET vfat_sbits_p<41>   LOC="AJ34";
NET vfat_sbits_n<42>   LOC="AH32";
NET vfat_sbits_p<42>   LOC="AH33";
NET vfat_sbits_n<43>   LOC="AG32";
NET vfat_sbits_p<43>   LOC="AG33";
NET vfat_sbits_p<44>   LOC="AE34"; # polarity swap
NET vfat_sbits_n<44>   LOC="AF34"; # polarity swap
NET vfat_sbits_p<45>   LOC="AD32"; # polarity swap
NET vfat_sbits_n<45>   LOC="AE32"; # polarity swap
NET vfat_sbits_n<46>   LOC="AC34";
NET vfat_sbits_p<46>   LOC="AD34";
NET vfat_sbits_n<47>   LOC="AB33";
NET vfat_sbits_p<47>   LOC="AC33";
NET vfat_sof_n<6>      LOC="AJ32";
NET vfat_sof_p<6>      LOC="AJ31";
NET vfat_sbits_n<48>   LOC="AM26";
NET vfat_sbits_p<48>   LOC="AL26";
NET vfat_sbits_p<49>   LOC="AP27"; # polarity swap
NET vfat_sbits_n<49>   LOC="AP26"; # polarity swap
NET vfat_sbits_n<50>   LOC="AN28";
NET vfat_sbits_p<50>   LOC="AM28";
NET vfat_sbits_n<51>   LOC="AP29";
NET vfat_sbits_p<51>   LOC="AN29";
NET vfat_sbits_n<52>   LOC="AN34";
NET vfat_sbits_p<52>   LOC="AN33";
NET vfat_sbits_n<53>   LOC="AM32";
NET vfat_sbits_p<53>   LOC="AN32";
NET vfat_sbits_n<54>   LOC="AL33";
NET vfat_sbits_p<54>   LOC="AM33";
NET vfat_sbits_n<55>   LOC="AK34";
NET vfat_sbits_p<55>   LOC="AL34";
NET vfat_sof_p<7>      LOC="N33"; # polarity swap
NET vfat_sof_n<7>      LOC="M33"; # polarity swap
NET vfat_sbits_n<56>   LOC="F29";
NET vfat_sbits_p<56>   LOC="E29";
NET vfat_sbits_p<57>   LOC="F31"; # polarity swap
NET vfat_sbits_n<57>   LOC="E31"; # polarity swap
NET vfat_sbits_n<58>   LOC="G30";
NET vfat_sbits_p<58>   LOC="F30";
NET vfat_sbits_n<59>   LOC="H32";
NET vfat_sbits_p<59>   LOC="G32";
NET vfat_sbits_n<60>   LOC="H30";
NET vfat_sbits_p<60>   LOC="G31";
NET vfat_sbits_p<61>   LOC="AF28"; # polarity swap
NET vfat_sbits_n<61>   LOC="AF29"; # polarity swap
NET vfat_sbits_p<62>   LOC="AG27"; # polarity swap
NET vfat_sbits_n<62>   LOC="AG28"; # polarity swap
NET vfat_sbits_p<63>   LOC="AL29"; # polarity swap
NET vfat_sbits_n<63>   LOC="AK29"; # polarity swap
NET vfat_sof_p<8>      LOC="AG11"; # polarity swap
NET vfat_sof_n<8>      LOC="AG10"; # polarity swap
NET vfat_sbits_p<64>   LOC="AM18"; # polarity swap
NET vfat_sbits_n<64>   LOC="AL18"; # polarity swap
NET vfat_sbits_p<65>   LOC="AP19"; # polarity swap
NET vfat_sbits_n<65>   LOC="AN18"; # polarity swap
NET vfat_sbits_p<66>   LOC="AJ11"; # polarity swap
NET vfat_sbits_n<66>   LOC="AK11"; # polarity swap
NET vfat_sbits_p<67>   LOC="AG12"; # polarity swap
NET vfat_sbits_n<67>   LOC="AH12"; # polarity swap
NET vfat_sbits_n<68>   LOC="AH14";
NET vfat_sbits_p<68>   LOC="AH13";
NET vfat_sbits_n<69>   LOC="AJ14";
NET vfat_sbits_p<69>   LOC="AK14";
NET vfat_sbits_n<70>   LOC="AH15";
NET vfat_sbits_p<70>   LOC="AJ15";
NET vfat_sbits_p<71>   LOC="AJ17"; # polarity swap
NET vfat_sbits_n<71>   LOC="AJ16"; # polarity swap
NET vfat_sof_n<9>      LOC="AH10";
NET vfat_sof_p<9>      LOC="AJ10";
NET vfat_sbits_p<72>   LOC="AM10"; # polarity swap
NET vfat_sbits_n<72>   LOC="AL10"; # polarity swap
NET vfat_sbits_n<73>   LOC="AP12";
NET vfat_sbits_p<73>   LOC="AP11";
NET vfat_sbits_p<74>   LOC="AM12"; # polarity swap
NET vfat_sbits_n<74>   LOC="AN12"; # polarity swap
NET vfat_sbits_n<75>   LOC="AM13";
NET vfat_sbits_p<75>   LOC="AN13";
NET vfat_sbits_n<76>   LOC="AN14";
NET vfat_sbits_p<76>   LOC="AP14";
NET vfat_sbits_p<77>   LOC="AP16"; # polarity swap
NET vfat_sbits_n<77>   LOC="AP15"; # polarity swap
NET vfat_sbits_p<78>   LOC="AM17"; # polarity swap
NET vfat_sbits_n<78>   LOC="AM16"; # polarity swap
NET vfat_sbits_p<79>   LOC="AN17"; # polarity swap
NET vfat_sbits_n<79>   LOC="AP17"; # polarity swap
NET vfat_sof_n<10>     LOC="J15";
NET vfat_sof_p<10>     LOC="H15";
NET vfat_sbits_p<80>   LOC="J20"; # polarity swap
NET vfat_sbits_n<80>   LOC="J21"; # polarity swap
NET vfat_sbits_p<81>   LOC="H19"; # polarity swap
NET vfat_sbits_n<81>   LOC="H20"; # polarity swap
NET vfat_sbits_p<82>   LOC="K19"; # polarity swap
NET vfat_sbits_n<82>   LOC="J19"; # polarity swap
NET vfat_sbits_n<83>   LOC="K17";
NET vfat_sbits_p<83>   LOC="K18";
NET vfat_sbits_p<84>   LOC="K16"; # polarity swap
NET vfat_sbits_n<84>   LOC="L16"; # polarity swap
NET vfat_sbits_n<85>   LOC="M15";
NET vfat_sbits_p<85>   LOC="M16";
NET vfat_sbits_n<86>   LOC="K12";
NET vfat_sbits_p<86>   LOC="K13";
NET vfat_sbits_n<87>   LOC="M13";
NET vfat_sbits_p<87>   LOC="L13";
NET vfat_sof_p<11>     LOC="K14"; # polarity swap
NET vfat_sof_n<11>     LOC="J14"; # polarity swap
NET vfat_sbits_p<88>   LOC="G21"; # polarity swap
NET vfat_sbits_n<88>   LOC="G22"; # polarity swap
NET vfat_sbits_n<89>   LOC="G20";
NET vfat_sbits_p<89>   LOC="F21";
NET vfat_sbits_p<90>   LOC="F19"; # polarity swap
NET vfat_sbits_n<90>   LOC="F20"; # polarity swap
NET vfat_sbits_p<91>   LOC="G18"; # polarity swap
NET vfat_sbits_n<91>   LOC="H18"; # polarity swap
NET vfat_sbits_n<92>   LOC="E17";
NET vfat_sbits_p<92>   LOC="F18";
NET vfat_sbits_p<93>   LOC="F16"; # polarity swap
NET vfat_sbits_n<93>   LOC="G16"; # polarity swap
NET vfat_sbits_n<94>   LOC="K23";
NET vfat_sbits_p<94>   LOC="K24";
NET vfat_sbits_p<95>   LOC="K21"; # polarity swap
NET vfat_sbits_n<95>   LOC="K22"; # polarity swap
NET vfat_sof_n<12>     LOC="R34";
NET vfat_sof_p<12>     LOC="R33";
NET vfat_sbits_n<96>   LOC="AC30";
NET vfat_sbits_p<96>   LOC="AD30";
NET vfat_sbits_p<97>   LOC="AB32"; # polarity swap
NET vfat_sbits_n<97>   LOC="AC32"; # polarity swap
NET vfat_sbits_p<98>   LOC="AB30"; # polarity swap
NET vfat_sbits_n<98>   LOC="AB31"; # polarity swap
NET vfat_sbits_p<99>   LOC="Y32"; # polarity swap
NET vfat_sbits_n<99>   LOC="Y31"; # polarity swap
NET vfat_sbits_n<100>  LOC="W32";
NET vfat_sbits_p<100>  LOC="W31";
NET vfat_sbits_p<101>  LOC="V30"; # polarity swap
NET vfat_sbits_n<101>  LOC="W30"; # polarity swap
NET vfat_sbits_p<102>  LOC="U28"; # polarity swap
NET vfat_sbits_n<102>  LOC="V29"; # polarity swap
NET vfat_sbits_p<103>  LOC="U31"; # polarity swap
NET vfat_sbits_n<103>  LOC="U30"; # polarity swap
NET vfat_sof_n<13>     LOC="P34";
NET vfat_sof_p<13>     LOC="N34";
NET vfat_sbits_n<104>  LOC="T31";
NET vfat_sbits_p<104>  LOC="T30";
NET vfat_sbits_n<105>  LOC="R32";
NET vfat_sbits_p<105>  LOC="R31";
NET vfat_sbits_p<106>  LOC="P31"; # polarity swap
NET vfat_sbits_n<106>  LOC="P30"; # polarity swap
NET vfat_sbits_p<107>  LOC="N32"; # polarity swap
NET vfat_sbits_n<107>  LOC="P32"; # polarity swap
NET vfat_sbits_p<108>  LOC="M30"; # polarity swap
NET vfat_sbits_n<108>  LOC="N30"; # polarity swap
NET vfat_sbits_n<109>  LOC="L31";
NET vfat_sbits_p<109>  LOC="M31";
NET vfat_sbits_p<110>  LOC="K32"; # polarity swap
NET vfat_sbits_n<110>  LOC="K31"; # polarity swap
NET vfat_sbits_p<111>  LOC="J30"; # polarity swap
NET vfat_sbits_n<111>  LOC="K29"; # polarity swap
NET vfat_sof_p<14>     LOC="AJ29"; # polarity swap
NET vfat_sof_n<14>     LOC="AJ30"; # polarity swap
NET vfat_sbits_p<112>  LOC="AN25"; # polarity swap
NET vfat_sbits_n<112>  LOC="AN24"; # polarity swap
NET vfat_sbits_p<113>  LOC="AK26"; # polarity swap
NET vfat_sbits_n<113>  LOC="AJ26"; # polarity swap
NET vfat_sbits_p<114>  LOC="AN27"; # polarity swap
NET vfat_sbits_n<114>  LOC="AM27"; # polarity swap
NET vfat_sbits_n<115>  LOC="AJ27";
NET vfat_sbits_p<115>  LOC="AK27";
NET vfat_sbits_n<116>  LOC="AK28";
NET vfat_sbits_p<116>  LOC="AL28";
NET vfat_sbits_n<117>  LOC="AP31";
NET vfat_sbits_p<117>  LOC="AP30";
NET vfat_sbits_n<118>  LOC="AP33";
NET vfat_sbits_p<118>  LOC="AP32";
NET vfat_sbits_n<119>  LOC="AM30";
NET vfat_sbits_p<119>  LOC="AN30";
NET vfat_sof_n<15>     LOC="M32";
NET vfat_sof_p<15>     LOC="L33";
NET vfat_sbits_p<120>  LOC="AH25"; # polarity swap
NET vfat_sbits_n<120>  LOC="AJ25"; # polarity swap
NET vfat_sbits_n<121>  LOC="AF21";
NET vfat_sbits_p<121>  LOC="AF20";
NET vfat_sbits_n<122>  LOC="AD21";
NET vfat_sbits_p<122>  LOC="AE21";
NET vfat_sbits_n<123>  LOC="AD26";
NET vfat_sbits_p<123>  LOC="AD25";
NET vfat_sbits_p<124>  LOC="AB25"; # polarity swap
NET vfat_sbits_n<124>  LOC="AC25"; # polarity swap
NET vfat_sbits_p<125>  LOC="AB27"; # polarity swap
NET vfat_sbits_n<125>  LOC="AC27"; # polarity swap
NET vfat_sbits_p<126>  LOC="AA26"; # polarity swap
NET vfat_sbits_n<126>  LOC="AB26"; # polarity swap
NET vfat_sbits_n<127>  LOC="Y26";
NET vfat_sbits_p<127>  LOC="AA25";
NET vfat_sof_p<16>     LOC="J25"; # polarity swap
NET vfat_sof_n<16>     LOC="J24"; # polarity swap
NET vfat_sbits_n<128>  LOC="J22";
NET vfat_sbits_p<128>  LOC="H22";
NET vfat_sbits_p<129>  LOC="T24"; # polarity swap
NET vfat_sbits_n<129>  LOC="T23"; # polarity swap
NET vfat_sbits_n<130>  LOC="M25";
NET vfat_sbits_p<130>  LOC="N25";
NET vfat_sbits_n<131>  LOC="G25";
NET vfat_sbits_p<131>  LOC="F25";
NET vfat_sbits_p<132>  LOC="K11"; # polarity swap
NET vfat_sbits_n<132>  LOC="L11"; # polarity swap
NET vfat_sbits_p<133>  LOC="G11"; # polarity swap
NET vfat_sbits_n<133>  LOC="F11"; # polarity swap
NET vfat_sbits_n<134>  LOC="E12";
NET vfat_sbits_p<134>  LOC="D12";
NET vfat_sbits_n<135>  LOC="F13";
NET vfat_sbits_p<135>  LOC="E13";
NET vfat_sof_n<17>     LOC="L26";
NET vfat_sof_p<17>     LOC="L25";
NET vfat_sbits_n<136>  LOC="D22";
NET vfat_sbits_p<136>  LOC="C22";
NET vfat_sbits_n<137>  LOC="E21";
NET vfat_sbits_p<137>  LOC="D21";
NET vfat_sbits_n<138>  LOC="D20";
NET vfat_sbits_p<138>  LOC="C20";
NET vfat_sbits_p<139>  LOC="E19"; # polarity swap
NET vfat_sbits_n<139>  LOC="D19"; # polarity swap
NET vfat_sbits_n<140>  LOC="D17";
NET vfat_sbits_p<140>  LOC="E18";
NET vfat_sbits_n<141>  LOC="D16";
NET vfat_sbits_p<141>  LOC="E16";
NET vfat_sbits_n<142>  LOC="F15";
NET vfat_sbits_p<142>  LOC="G15";
NET vfat_sbits_n<143>  LOC="E14";
NET vfat_sbits_p<143>  LOC="F14";
NET vfat_sof_p<18>     LOC="J11"; # polarity swap
NET vfat_sof_n<18>     LOC="J10"; # polarity swap
NET vfat_sbits_p<144>  LOC="C29"; # polarity swap
NET vfat_sbits_n<144>  LOC="D29"; # polarity swap
NET vfat_sbits_n<145>  LOC="E28";
NET vfat_sbits_p<145>  LOC="F28";
NET vfat_sbits_p<146>  LOC="D27"; # polarity swap
NET vfat_sbits_n<146>  LOC="E27"; # polarity swap
NET vfat_sbits_p<147>  LOC="E26"; # polarity swap
NET vfat_sbits_n<147>  LOC="F26"; # polarity swap
NET vfat_sbits_p<148>  LOC="D25"; # polarity swap
NET vfat_sbits_n<148>  LOC="D26"; # polarity swap
NET vfat_sbits_p<149>  LOC="C24"; # polarity swap
NET vfat_sbits_n<149>  LOC="C25"; # polarity swap
NET vfat_sbits_n<150>  LOC="E24";
NET vfat_sbits_p<150>  LOC="D24";
NET vfat_sbits_p<151>  LOC="E22"; # polarity swap
NET vfat_sbits_n<151>  LOC="E23"; # polarity swap
NET vfat_sof_n<19>     LOC="E11";
NET vfat_sof_p<19>     LOC="D11";
NET vfat_sbits_p<152>  LOC="A23"; # polarity swap
NET vfat_sbits_n<152>  LOC="A24"; # polarity swap
NET vfat_sbits_n<153>  LOC="C23";
NET vfat_sbits_p<153>  LOC="B23";
NET vfat_sbits_p<154>  LOC="B21"; # polarity swap
NET vfat_sbits_n<154>  LOC="B22"; # polarity swap
NET vfat_sbits_p<155>  LOC="A20"; # polarity swap
NET vfat_sbits_n<155>  LOC="A21"; # polarity swap
NET vfat_sbits_n<156>  LOC="C19";
NET vfat_sbits_p<156>  LOC="B20";
NET vfat_sbits_p<157>  LOC="A18"; # polarity swap
NET vfat_sbits_n<157>  LOC="A19"; # polarity swap
NET vfat_sbits_n<158>  LOC="C18";
NET vfat_sbits_p<158>  LOC="B18";
NET vfat_sbits_n<159>  LOC="B17";
NET vfat_sbits_p<159>  LOC="C17";
NET vfat_sof_n<20>     LOC="H29";
NET vfat_sof_p<20>     LOC="H28";
NET vfat_sbits_p<160>  LOC="F33"; # polarity swap
NET vfat_sbits_n<160>  LOC="G33"; # polarity swap
NET vfat_sbits_p<161>  LOC="E34"; # polarity swap
NET vfat_sbits_n<161>  LOC="F34"; # polarity swap
NET vfat_sbits_p<162>  LOC="E32"; # polarity swap
NET vfat_sbits_n<162>  LOC="E33"; # polarity swap
NET vfat_sbits_n<163>  LOC="C34";
NET vfat_sbits_p<163>  LOC="D34";
NET vfat_sbits_n<164>  LOC="B34";
NET vfat_sbits_p<164>  LOC="C33";
NET vfat_sbits_p<165>  LOC="A33"; # polarity swap
NET vfat_sbits_n<165>  LOC="B33"; # polarity swap
NET vfat_sbits_p<166>  LOC="A28"; # polarity swap
NET vfat_sbits_n<166>  LOC="A29"; # polarity swap
NET vfat_sbits_p<167>  LOC="C28"; # polarity swap
NET vfat_sbits_n<167>  LOC="B28"; # polarity swap
NET vfat_sof_p<21>     LOC="A30"; # polarity swap
NET vfat_sof_n<21>     LOC="B30"; # polarity swap
NET vfat_sbits_n<168>  LOC="M27";
NET vfat_sbits_p<168>  LOC="M26";
NET vfat_sbits_p<169>  LOC="L28"; # polarity swap
NET vfat_sbits_n<169>  LOC="M28"; # polarity swap
NET vfat_sbits_p<170>  LOC="L29"; # polarity swap
NET vfat_sbits_n<170>  LOC="L30"; # polarity swap
NET vfat_sbits_n<171>  LOC="J29";
NET vfat_sbits_p<171>  LOC="K28";
NET vfat_sbits_n<172>  LOC="D32";
NET vfat_sbits_p<172>  LOC="D31";
NET vfat_sbits_n<173>  LOC="A31";
NET vfat_sbits_p<173>  LOC="B31";
NET vfat_sbits_p<174>  LOC="J31"; # polarity swap
NET vfat_sbits_n<174>  LOC="J32"; # polarity swap
NET vfat_sbits_n<175>  LOC="H33";
NET vfat_sbits_p<175>  LOC="H34";
NET vfat_sof_p<22>     LOC="K33"; # polarity swap
NET vfat_sof_n<22>     LOC="J34"; # polarity swap
NET vfat_sbits_p<176>  LOC="AA28"; # polarity swap
NET vfat_sbits_n<176>  LOC="AA29"; # polarity swap
NET vfat_sbits_p<177>  LOC="W29"; # polarity swap
NET vfat_sbits_n<177>  LOC="Y29"; # polarity swap
NET vfat_sbits_p<178>  LOC="V28"; # polarity swap
NET vfat_sbits_n<178>  LOC="V27"; # polarity swap
NET vfat_sbits_n<179>  LOC="U27";
NET vfat_sbits_p<179>  LOC="U26";
NET vfat_sbits_n<180>  LOC="T29";
NET vfat_sbits_p<180>  LOC="T28";
NET vfat_sbits_p<181>  LOC="R28"; # polarity swap
NET vfat_sbits_n<181>  LOC="R27"; # polarity swap
NET vfat_sbits_p<182>  LOC="P29"; # polarity swap
NET vfat_sbits_n<182>  LOC="R29"; # polarity swap
NET vfat_sbits_n<183>  LOC="N29";
NET vfat_sbits_p<183>  LOC="N28";
NET vfat_sof_n<23>     LOC="L34";
NET vfat_sof_p<23>     LOC="K34";
NET vfat_sbits_p<184>  LOC="C30"; # polarity swap
NET vfat_sbits_n<184>  LOC="D30"; # polarity swap
NET vfat_sbits_n<185>  LOC="B32";
NET vfat_sbits_p<185>  LOC="C32";
NET vfat_sbits_p<186>  LOC="AF30"; # polarity swap
NET vfat_sbits_n<186>  LOC="AG30"; # polarity swap
NET vfat_sbits_n<187>  LOC="AE29";
NET vfat_sbits_p<187>  LOC="AE28";
NET vfat_sbits_n<188>  LOC="AD27";
NET vfat_sbits_p<188>  LOC="AE27";
NET vfat_sbits_n<189>  LOC="AC29";
NET vfat_sbits_p<189>  LOC="AD29";
NET vfat_sbits_p<190>  LOC="AB28"; # polarity swap
NET vfat_sbits_n<190>  LOC="AC28"; # polarity swap
NET vfat_sbits_n<191>  LOC="AA31";
NET vfat_sbits_p<191>  LOC="AA30";
#### END: AUTO GENERATED SBITS UCF -- DO NOT EDIT ####
