################################################################################
#  Copyright (c) 2009 Xilinx, Inc.
#
#   ____  ____
#  /   /\/   /
# /___/  \  /   This   document  contains  proprietary information  which   is
# \   \   \/    protected by  copyright. All rights  are reserved. No  part of
#  \   \        this  document may be photocopied, reproduced or translated to
#  /   /        another  program  language  without  prior written  consent of
# /___/   /\    XILINX Inc., San Jose, CA. 95125                              
# \   \  /  \ 
#  \___\/\___\
# 
#  Xilinx Template Revision:
#   $RCSfile: ibert_core_ucf.ejava,v $
#   $Revision: 1.3 $
#   Modify $Date: 2012/03/05 14:31:29 $
#   Application : Virtex-6 IBERT
#   Version : 1.4
#
#  Project Information:
#   Device:  xc6vlx130t
#   Package: ff1156
#


#-------------------------------------------------------------------------------------
# JTAG interface Constraints 
#-------------------------------------------------------------------------------------
####NET "U_ICON/U0/U_ICON/iDRCK" TNM_NET = J_CLK ;
#NET "U_ICON/U0/iUPDATE_OUT" TNM_NET = U_CLK ;
NET "U_ICON/U0/iSHIFT_OUT" TIG ;
##TIMESPEC TS_J_CLK = PERIOD J_CLK 30 ns ;
#TIMESPEC TS_U_TO_J = FROM U_CLK TO J_CLK 15 ns ;
TIMESPEC TS_U_TO_U = FROM U_CLK TO U_CLK 15 ns ;
TIMESPEC TS_U_TO_D = FROM U_CLK TO D_CLK TIG ;
TIMESPEC TS_J_TO_D = FROM J_CLK TO D_CLK TIG ;
TIMESPEC TS_D_TO_J = FROM D_CLK TO J_CLK TIG ;
NET "U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/ma_dclk" TNM_NET = D_CLK ;

#-------------------------------------------------------------------------------------
# GT Clock Constraints 
#-------------------------------------------------------------------------------------
# Input REFCLK constratins



# GT PLL output constraints
# GT X0Y16
NET U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y16/gt_txoutclk TNM_NET = "TNM_X0Y16_TXOUTCLK";
TIMESPEC "TS_X0Y16_TXOUTCLK" = PERIOD "TNM_X0Y16_TXOUTCLK" 5.0 ns;
NET U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y16/gt_rxrecclk TNM_NET = "TNM_X0Y16_RXRECCLK";
TIMESPEC "TS_X0Y16_RXRECCLK" = PERIOD "TNM_X0Y16_RXRECCLK" 5.0 ns;
# GT X0Y17
NET U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y17/gt_txoutclk TNM_NET = "TNM_X0Y17_TXOUTCLK";
TIMESPEC "TS_X0Y17_TXOUTCLK" = PERIOD "TNM_X0Y17_TXOUTCLK" 5.0 ns;
NET U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y17/gt_rxrecclk TNM_NET = "TNM_X0Y17_RXRECCLK";
TIMESPEC "TS_X0Y17_RXRECCLK" = PERIOD "TNM_X0Y17_RXRECCLK" 5.0 ns;
# GT X0Y18
NET U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y18/gt_txoutclk TNM_NET = "TNM_X0Y18_TXOUTCLK";
TIMESPEC "TS_X0Y18_TXOUTCLK" = PERIOD "TNM_X0Y18_TXOUTCLK" 5.0 ns;
NET U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y18/gt_rxrecclk TNM_NET = "TNM_X0Y18_RXRECCLK";
TIMESPEC "TS_X0Y18_RXRECCLK" = PERIOD "TNM_X0Y18_RXRECCLK" 5.0 ns;
# GT X0Y19
NET U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y19/gt_txoutclk TNM_NET = "TNM_X0Y19_TXOUTCLK";
TIMESPEC "TS_X0Y19_TXOUTCLK" = PERIOD "TNM_X0Y19_TXOUTCLK" 5.0 ns;
NET U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y19/gt_rxrecclk TNM_NET = "TNM_X0Y19_RXRECCLK";
TIMESPEC "TS_X0Y19_RXRECCLK" = PERIOD "TNM_X0Y19_RXRECCLK" 5.0 ns;

#-------------------------------------------------------------------------------------
# System Clock Timing Constraints and PIN LOCs (if applicable) 
#-------------------------------------------------------------------------------------
# System clock sourced by X0Y19
NET "U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/ma_dclk" TNM_NET = "TNM_MA_DCLK";
TIMESPEC "TS_MA_DCLK" = PERIOD "TNM_MA_DCLK" 10 ns;
TIMESPEC TS_MADCLK_TO_GT = FROM TNM_MA_DCLK TO TNM_X0Y19_TXOUTCLK TIG;
TIMESPEC TS_GT_TO_MADCLK = FROM TNM_X0Y19_TXOUTCLK TO TNM_MA_DCLK TIG;

INST U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_MA_DCLK_DIVIDER/mmcm_adv_inst CLKFBOUT_MULT_F  = 25.000;
INST U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_MA_DCLK_DIVIDER/mmcm_adv_inst DIVCLK_DIVIDE    = 4;
INST U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_MA_DCLK_DIVIDER/mmcm_adv_inst CLKOUT0_DIVIDE_F = 10.000;
#-------------------------------------------------------------------------------------
# GT LOC constraint 
#-------------------------------------------------------------------------------------
INST U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y16/U_GT/gtxe1_i LOC=GTXE1_X0Y16;
INST U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y17/U_GT/gtxe1_i LOC=GTXE1_X0Y17;
INST U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y18/U_GT/gtxe1_i LOC=GTXE1_X0Y18;
INST U_CHIPSCOPE_IBERT/U0/U_IBERT_CORE/U_GTCPX_X0Y19/U_GT/gtxe1_i LOC=GTXE1_X0Y19;

#-------------------------------------------------------------------------------------
# GT REFCLK PIN LOCs 
#-------------------------------------------------------------------------------------
# Refclk Q3-Refclk0 sources GT(s) X0Y19 X0Y18 X0Y17 X0Y16
NET Q3_CLK0_MGTREFCLK_N_IPAD LOC=P5;
NET Q3_CLK0_MGTREFCLK_P_IPAD LOC=P6;


#-------------------------------------------------------------------------------------
# RXRECCLK OUTPUT PIN LOCs (if enabled) 
#-------------------------------------------------------------------------------------
