//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 24 11:59:31 2015
//! **************************************************************************

SCHEMATIC START;
COMP "adc_din_i" LOCATE = SITE "U23" LEVEL 1;
COMP "adc_clk_o" LOCATE = SITE "AB23" LEVEL 1;
COMP "temp_data_io" LOCATE = SITE "AE24" LEVEL 1;
COMP "adc_eoc_i" LOCATE = SITE "B11" LEVEL 1;
COMP "flash_address_o<0>" LOCATE = SITE "AL8" LEVEL 1;
COMP "flash_address_o<1>" LOCATE = SITE "AK8" LEVEL 1;
COMP "flash_address_o<2>" LOCATE = SITE "AC9" LEVEL 1;
COMP "flash_address_o<3>" LOCATE = SITE "AD10" LEVEL 1;
COMP "vfat2_18_sbits_n_i<0>" LOCATE = SITE "C27" LEVEL 1;
COMP "flash_address_o<4>" LOCATE = SITE "C8" LEVEL 1;
COMP "vfat2_18_sbits_n_i<1>" LOCATE = SITE "A26" LEVEL 1;
COMP "flash_address_o<5>" LOCATE = SITE "B8" LEVEL 1;
COMP "vfat2_18_sbits_n_i<2>" LOCATE = SITE "A25" LEVEL 1;
COMP "flash_address_o<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "vfat2_18_sbits_n_i<3>" LOCATE = SITE "A24" LEVEL 1;
COMP "flash_address_o<7>" LOCATE = SITE "E8" LEVEL 1;
COMP "vfat2_18_sbits_n_i<4>" LOCATE = SITE "C23" LEVEL 1;
COMP "flash_address_o<8>" LOCATE = SITE "A8" LEVEL 1;
COMP "vfat2_18_sbits_n_i<5>" LOCATE = SITE "B22" LEVEL 1;
COMP "flash_address_o<9>" LOCATE = SITE "A9" LEVEL 1;
COMP "vfat2_18_sbits_n_i<6>" LOCATE = SITE "A21" LEVEL 1;
COMP "vfat2_18_sbits_n_i<7>" LOCATE = SITE "C19" LEVEL 1;
COMP "eprom_reset_b_o" LOCATE = SITE "B10" LEVEL 1;
COMP "flash_address_o<10>" LOCATE = SITE "D9" LEVEL 1;
COMP "flash_address_o<11>" LOCATE = SITE "C9" LEVEL 1;
COMP "flash_address_o<12>" LOCATE = SITE "D10" LEVEL 1;
COMP "flash_address_o<20>" LOCATE = SITE "AF10" LEVEL 1;
COMP "flash_address_o<13>" LOCATE = SITE "C10" LEVEL 1;
COMP "flash_address_o<21>" LOCATE = SITE "AF9" LEVEL 1;
COMP "flash_address_o<14>" LOCATE = SITE "F10" LEVEL 1;
COMP "flash_address_o<22>" LOCATE = SITE "AL9" LEVEL 1;
COMP "flash_address_o<15>" LOCATE = SITE "F9" LEVEL 1;
COMP "flash_address_o<16>" LOCATE = SITE "AH8" LEVEL 1;
COMP "flash_address_o<17>" LOCATE = SITE "AG8" LEVEL 1;
COMP "flash_address_o<18>" LOCATE = SITE "AP9" LEVEL 1;
COMP "flash_address_o<19>" LOCATE = SITE "AN9" LEVEL 1;
COMP "adc_chip_select_o" LOCATE = SITE "L23" LEVEL 1;
COMP "vfat2_mclk_n_o<0>" LOCATE = SITE "AD20" LEVEL 1;
COMP "vfat2_mclk_n_o<1>" LOCATE = SITE "J24" LEVEL 1;
COMP "vfat2_mclk_n_o<2>" LOCATE = SITE "J19" LEVEL 1;
COMP "adc_dout_o" LOCATE = SITE "A13" LEVEL 1;
COMP "vfat2_mclk_p_o<0>" LOCATE = SITE "AC20" LEVEL 1;
COMP "vfat2_mclk_p_o<1>" LOCATE = SITE "J25" LEVEL 1;
COMP "vfat2_mclk_p_o<2>" LOCATE = SITE "K19" LEVEL 1;
COMP "vfat2_8_sbits_n_i<0>" LOCATE = SITE "M11" LEVEL 1;
COMP "vfat2_8_sbits_n_i<1>" LOCATE = SITE "H13" LEVEL 1;
COMP "vfat2_8_sbits_n_i<2>" LOCATE = SITE "H14" LEVEL 1;
COMP "vfat2_8_sbits_n_i<3>" LOCATE = SITE "J14" LEVEL 1;
COMP "vfat2_8_sbits_n_i<4>" LOCATE = SITE "J15" LEVEL 1;
COMP "vfat2_8_sbits_n_i<5>" LOCATE = SITE "G16" LEVEL 1;
COMP "vfat2_8_sbits_n_i<6>" LOCATE = SITE "E17" LEVEL 1;
COMP "vfat2_8_sbits_n_i<7>" LOCATE = SITE "H18" LEVEL 1;
COMP "flash_latch_enable_b_o" LOCATE = SITE "AC23" LEVEL 1;
COMP "cdce_le_o" LOCATE = SITE "AG15" LEVEL 1;
COMP "vfat2_20_sbits_n_i<0>" LOCATE = SITE "K29" LEVEL 1;
COMP "vfat2_12_sbits_n_i<0>" LOCATE = SITE "P27" LEVEL 1;
COMP "vfat2_20_sbits_n_i<1>" LOCATE = SITE "K31" LEVEL 1;
COMP "vfat2_12_sbits_n_i<1>" LOCATE = SITE "T26" LEVEL 1;
COMP "vfat2_20_sbits_n_i<2>" LOCATE = SITE "L31" LEVEL 1;
COMP "vfat2_12_sbits_n_i<2>" LOCATE = SITE "T25" LEVEL 1;
COMP "vfat2_20_sbits_n_i<3>" LOCATE = SITE "N30" LEVEL 1;
COMP "vfat2_12_sbits_n_i<3>" LOCATE = SITE "A31" LEVEL 1;
COMP "vfat2_20_sbits_n_i<4>" LOCATE = SITE "P32" LEVEL 1;
COMP "vfat2_12_sbits_n_i<4>" LOCATE = SITE "D32" LEVEL 1;
COMP "vfat2_20_sbits_n_i<5>" LOCATE = SITE "P30" LEVEL 1;
COMP "vfat2_12_sbits_n_i<5>" LOCATE = SITE "G27" LEVEL 1;
COMP "vfat2_20_sbits_n_i<6>" LOCATE = SITE "R32" LEVEL 1;
COMP "vfat2_12_sbits_n_i<6>" LOCATE = SITE "G28" LEVEL 1;
COMP "vfat2_20_sbits_n_i<7>" LOCATE = SITE "T31" LEVEL 1;
COMP "vfat2_12_sbits_n_i<7>" LOCATE = SITE "H29" LEVEL 1;
COMP "vfat2_2_sbits_n_i<0>" LOCATE = SITE "AM28" LEVEL 1;
COMP "vfat2_2_sbits_n_i<1>" LOCATE = SITE "AP29" LEVEL 1;
COMP "vfat2_2_sbits_n_i<2>" LOCATE = SITE "AN34" LEVEL 1;
COMP "vfat2_2_sbits_n_i<3>" LOCATE = SITE "AM32" LEVEL 1;
COMP "vfat2_2_sbits_n_i<4>" LOCATE = SITE "AL33" LEVEL 1;
COMP "vfat2_2_sbits_n_i<5>" LOCATE = SITE "AK34" LEVEL 1;
COMP "vfat2_2_sbits_n_i<6>" LOCATE = SITE "AK32" LEVEL 1;
COMP "vfat2_2_sbits_n_i<7>" LOCATE = SITE "AH34" LEVEL 1;
COMP "flash_chip_enable_b_o" LOCATE = SITE "Y24" LEVEL 1;
COMP "cdce_aux_i" LOCATE = SITE "AE13" LEVEL 1;
COMP "cdce_aux_o" LOCATE = SITE "AD16" LEVEL 1;
COMP "cdce_ref_o" LOCATE = SITE "AD17" LEVEL 1;
COMP "cdce_sck_o" LOCATE = SITE "AG16" LEVEL 1;
COMP "chip_id_i" LOCATE = SITE "AE23" LEVEL 1;
COMP "vfat2_17_sbits_n_i<0>" LOCATE = SITE "H33" LEVEL 1;
COMP "vfat2_17_sbits_n_i<1>" LOCATE = SITE "G33" LEVEL 1;
COMP "vfat2_17_sbits_n_i<2>" LOCATE = SITE "F34" LEVEL 1;
COMP "vfat2_17_sbits_n_i<3>" LOCATE = SITE "E33" LEVEL 1;
COMP "vfat2_17_sbits_n_i<4>" LOCATE = SITE "C34" LEVEL 1;
COMP "vfat2_17_sbits_n_i<5>" LOCATE = SITE "B34" LEVEL 1;
COMP "vfat2_17_sbits_n_i<6>" LOCATE = SITE "B33" LEVEL 1;
COMP "vfat2_17_sbits_n_i<7>" LOCATE = SITE "A29" LEVEL 1;
COMP "cdce_pwrdown_o" LOCATE = SITE "AE17" LEVEL 1;
COMP "flash_data_io<10>" LOCATE = SITE "N24" LEVEL 1;
COMP "flash_data_io<11>" LOCATE = SITE "N23" LEVEL 1;
COMP "flash_data_io<12>" LOCATE = SITE "F23" LEVEL 1;
COMP "flash_data_io<13>" LOCATE = SITE "F24" LEVEL 1;
COMP "flash_data_io<14>" LOCATE = SITE "L24" LEVEL 1;
COMP "flash_data_io<15>" LOCATE = SITE "M23" LEVEL 1;
COMP "vfat2_7_sbits_n_i<0>" LOCATE = SITE "AL19" LEVEL 1;
COMP "vfat2_7_sbits_n_i<1>" LOCATE = SITE "AH19" LEVEL 1;
COMP "vfat2_7_sbits_n_i<2>" LOCATE = SITE "AK17" LEVEL 1;
COMP "vfat2_7_sbits_n_i<3>" LOCATE = SITE "AK16" LEVEL 1;
COMP "vfat2_7_sbits_n_i<4>" LOCATE = SITE "AM15" LEVEL 1;
COMP "vfat2_7_sbits_n_i<5>" LOCATE = SITE "AL14" LEVEL 1;
COMP "vfat2_7_sbits_n_i<6>" LOCATE = SITE "AL13" LEVEL 1;
COMP "vfat2_7_sbits_n_i<7>" LOCATE = SITE "AJ12" LEVEL 1;
COMP "temp_clk_o" LOCATE = SITE "A14" LEVEL 1;
COMP "flash_write_enable_b_o" LOCATE = SITE "AF23" LEVEL 1;
COMP "vfat2_11_sbits_n_i<0>" LOCATE = SITE "AG26" LEVEL 1;
COMP "vfat2_11_sbits_n_i<1>" LOCATE = SITE "AL25" LEVEL 1;
COMP "vfat2_11_sbits_n_i<2>" LOCATE = SITE "AK24" LEVEL 1;
COMP "vfat2_11_sbits_n_i<3>" LOCATE = SITE "AH22" LEVEL 1;
COMP "vfat2_11_sbits_n_i<4>" LOCATE = SITE "AJ21" LEVEL 1;
COMP "vfat2_11_sbits_n_i<5>" LOCATE = SITE "AH20" LEVEL 1;
COMP "vfat2_11_sbits_n_i<6>" LOCATE = SITE "AE19" LEVEL 1;
COMP "vfat2_11_sbits_n_i<7>" LOCATE = SITE "AG18" LEVEL 1;
COMP "vfat2_1_sbits_n_i<0>" LOCATE = SITE "AN18" LEVEL 1;
COMP "vfat2_1_sbits_n_i<1>" LOCATE = SITE "AN20" LEVEL 1;
COMP "vfat2_1_sbits_n_i<2>" LOCATE = SITE "AP21" LEVEL 1;
COMP "vfat2_1_sbits_n_i<3>" LOCATE = SITE "AN22" LEVEL 1;
COMP "vfat2_1_sbits_n_i<4>" LOCATE = SITE "AN23" LEVEL 1;
COMP "vfat2_1_sbits_n_i<5>" LOCATE = SITE "AL23" LEVEL 1;
COMP "vfat2_1_sbits_n_i<6>" LOCATE = SITE "AP24" LEVEL 1;
COMP "vfat2_1_sbits_n_i<7>" LOCATE = SITE "AM26" LEVEL 1;
COMP "clk_50MHz_i" LOCATE = SITE "A11" LEVEL 1;
COMP "cdce_miso_i" LOCATE = SITE "AC15" LEVEL 1;
COMP "cdce_mosi_o" LOCATE = SITE "AE16" LEVEL 1;
COMP "multiboot_rs_o<0>" LOCATE = SITE "AA23" LEVEL 1;
COMP "multiboot_rs_o<1>" LOCATE = SITE "AG23" LEVEL 1;
COMP "vfat2_16_sbits_n_i<0>" LOCATE = SITE "U32" LEVEL 1;
COMP "vfat2_16_sbits_n_i<1>" LOCATE = SITE "T34" LEVEL 1;
COMP "vfat2_16_sbits_n_i<2>" LOCATE = SITE "R34" LEVEL 1;
COMP "vfat2_16_sbits_n_i<3>" LOCATE = SITE "P34" LEVEL 1;
COMP "vfat2_16_sbits_n_i<4>" LOCATE = SITE "M33" LEVEL 1;
COMP "vfat2_16_sbits_n_i<5>" LOCATE = SITE "M32" LEVEL 1;
COMP "vfat2_16_sbits_n_i<6>" LOCATE = SITE "L34" LEVEL 1;
COMP "vfat2_16_sbits_n_i<7>" LOCATE = SITE "J34" LEVEL 1;
COMP "qpll_clk_n_i" LOCATE = SITE "M10" LEVEL 1;
COMP "qpll_clk_p_i" LOCATE = SITE "L10" LEVEL 1;
COMP "cdce_sync_o" LOCATE = SITE "AF16" LEVEL 1;
COMP "hdmi_sda_io<0>" LOCATE = SITE "AD15" LEVEL 1;
COMP "hdmi_sda_io<1>" LOCATE = SITE "AF13" LEVEL 1;
COMP "vfat2_6_sbits_n_i<0>" LOCATE = SITE "AK28" LEVEL 1;
COMP "vfat2_6_sbits_n_i<1>" LOCATE = SITE "AJ27" LEVEL 1;
COMP "vfat2_6_sbits_n_i<2>" LOCATE = SITE "AM27" LEVEL 1;
COMP "vfat2_6_sbits_n_i<3>" LOCATE = SITE "AJ26" LEVEL 1;
COMP "vfat2_6_sbits_n_i<4>" LOCATE = SITE "AN24" LEVEL 1;
COMP "vfat2_6_sbits_n_i<5>" LOCATE = SITE "AL24" LEVEL 1;
COMP "vfat2_6_sbits_n_i<6>" LOCATE = SITE "AJ22" LEVEL 1;
COMP "vfat2_6_sbits_n_i<7>" LOCATE = SITE "AL21" LEVEL 1;
COMP "cdce_locked_i" LOCATE = SITE "AE12" LEVEL 1;
COMP "qpll_error_i" LOCATE = SITE "K9" LEVEL 1;
COMP "vfat2_10_sbits_n_i<0>" LOCATE = SITE "G20" LEVEL 1;
COMP "vfat2_10_sbits_n_i<1>" LOCATE = SITE "G22" LEVEL 1;
COMP "vfat2_10_sbits_n_i<2>" LOCATE = SITE "J22" LEVEL 1;
COMP "vfat2_10_sbits_n_i<3>" LOCATE = SITE "T23" LEVEL 1;
COMP "vfat2_10_sbits_n_i<4>" LOCATE = SITE "M25" LEVEL 1;
COMP "vfat2_10_sbits_n_i<5>" LOCATE = SITE "G25" LEVEL 1;
COMP "vfat2_10_sbits_n_i<6>" LOCATE = SITE "B30" LEVEL 1;
COMP "vfat2_10_sbits_n_i<7>" LOCATE = SITE "K27" LEVEL 1;
COMP "hdmi_scl_io<0>" LOCATE = SITE "AF15" LEVEL 1;
COMP "hdmi_scl_io<1>" LOCATE = SITE "AG13" LEVEL 1;
COMP "qpll_reset_o" LOCATE = SITE "J9" LEVEL 1;
COMP "vfat2_0_sbits_n_i<0>" LOCATE = SITE "AL10" LEVEL 1;
COMP "vfat2_0_sbits_n_i<1>" LOCATE = SITE "AP12" LEVEL 1;
COMP "vfat2_0_sbits_n_i<2>" LOCATE = SITE "AN12" LEVEL 1;
COMP "vfat2_0_sbits_n_i<3>" LOCATE = SITE "AM13" LEVEL 1;
COMP "vfat2_0_sbits_n_i<4>" LOCATE = SITE "AN14" LEVEL 1;
COMP "vfat2_0_sbits_n_i<5>" LOCATE = SITE "AP15" LEVEL 1;
COMP "vfat2_0_sbits_n_i<6>" LOCATE = SITE "AM16" LEVEL 1;
COMP "vfat2_0_sbits_n_i<7>" LOCATE = SITE "AP17" LEVEL 1;
COMP "vfat2_sda_io<0>" LOCATE = SITE "AC18" LEVEL 1;
COMP "vfat2_sda_io<1>" LOCATE = SITE "AB27" LEVEL 1;
COMP "vfat2_sda_io<2>" LOCATE = SITE "K22" LEVEL 1;
COMP "vfat2_sda_io<3>" LOCATE = SITE "Y28" LEVEL 1;
COMP "vfat2_sda_io<4>" LOCATE = SITE "J20" LEVEL 1;
COMP "vfat2_sda_io<5>" LOCATE = SITE "W26" LEVEL 1;
COMP "vfat2_23_sbits_n_i<0>" LOCATE = SITE "L11" LEVEL 1;
COMP "vfat2_15_sbits_n_i<0>" LOCATE = SITE "Y29" LEVEL 1;
COMP "vfat2_23_sbits_n_i<1>" LOCATE = SITE "F11" LEVEL 1;
COMP "vfat2_15_sbits_n_i<1>" LOCATE = SITE "AA29" LEVEL 1;
COMP "vfat2_23_sbits_n_i<2>" LOCATE = SITE "E12" LEVEL 1;
COMP "vfat2_15_sbits_n_i<2>" LOCATE = SITE "AA31" LEVEL 1;
COMP "vfat2_23_sbits_n_i<3>" LOCATE = SITE "F13" LEVEL 1;
COMP "vfat2_15_sbits_n_i<3>" LOCATE = SITE "AC28" LEVEL 1;
COMP "vfat2_23_sbits_n_i<4>" LOCATE = SITE "E14" LEVEL 1;
COMP "vfat2_15_sbits_n_i<4>" LOCATE = SITE "AC29" LEVEL 1;
COMP "vfat2_23_sbits_n_i<5>" LOCATE = SITE "F15" LEVEL 1;
COMP "vfat2_15_sbits_n_i<5>" LOCATE = SITE "AD27" LEVEL 1;
COMP "vfat2_23_sbits_n_i<6>" LOCATE = SITE "D16" LEVEL 1;
COMP "vfat2_15_sbits_n_i<6>" LOCATE = SITE "AE29" LEVEL 1;
COMP "vfat2_23_sbits_n_i<7>" LOCATE = SITE "D17" LEVEL 1;
COMP "vfat2_15_sbits_n_i<7>" LOCATE = SITE "AG30" LEVEL 1;
COMP "flash_data_io<0>" LOCATE = SITE "AF24" LEVEL 1;
COMP "flash_data_io<1>" LOCATE = SITE "AF25" LEVEL 1;
COMP "flash_data_io<2>" LOCATE = SITE "W24" LEVEL 1;
COMP "flash_data_io<3>" LOCATE = SITE "V24" LEVEL 1;
COMP "flash_data_io<4>" LOCATE = SITE "H24" LEVEL 1;
COMP "flash_data_io<5>" LOCATE = SITE "H25" LEVEL 1;
COMP "flash_data_io<6>" LOCATE = SITE "P24" LEVEL 1;
COMP "vfat2_5_sbits_n_i<0>" LOCATE = SITE "AF31" LEVEL 1;
COMP "flash_data_io<7>" LOCATE = SITE "R24" LEVEL 1;
COMP "vfat2_5_sbits_n_i<1>" LOCATE = SITE "AH30" LEVEL 1;
COMP "flash_data_io<8>" LOCATE = SITE "G23" LEVEL 1;
COMP "vfat2_5_sbits_n_i<2>" LOCATE = SITE "AJ32" LEVEL 1;
COMP "flash_data_io<9>" LOCATE = SITE "H23" LEVEL 1;
COMP "vfat2_5_sbits_n_i<3>" LOCATE = SITE "AJ30" LEVEL 1;
COMP "vfat2_5_sbits_n_i<4>" LOCATE = SITE "AK31" LEVEL 1;
COMP "vfat2_5_sbits_n_i<5>" LOCATE = SITE "AM31" LEVEL 1;
COMP "vfat2_5_sbits_n_i<6>" LOCATE = SITE "AM30" LEVEL 1;
COMP "vfat2_5_sbits_n_i<7>" LOCATE = SITE "AP33" LEVEL 1;
COMP "flash_out_enable_b_o" LOCATE = SITE "AA24" LEVEL 1;
COMP "eprom_chip_enable_b_o" LOCATE = SITE "A10" LEVEL 1;
COMP "vfat2_resb_o<0>" LOCATE = SITE "AC19" LEVEL 1;
COMP "vfat2_resb_o<1>" LOCATE = SITE "K23" LEVEL 1;
COMP "vfat2_resb_o<2>" LOCATE = SITE "H20" LEVEL 1;
COMP "cdce_clk_n_i" LOCATE = SITE "AJ9" LEVEL 1;
COMP "cdce_clk_p_i" LOCATE = SITE "AH9" LEVEL 1;
COMP "vfat2_resh_o<0>" LOCATE = SITE "AD19" LEVEL 1;
COMP "vfat2_resh_o<1>" LOCATE = SITE "K24" LEVEL 1;
COMP "vfat2_resh_o<2>" LOCATE = SITE "H19" LEVEL 1;
COMP "vfat2_22_sbits_n_i<0>" LOCATE = SITE "D20" LEVEL 1;
COMP "vfat2_14_sbits_n_i<0>" LOCATE = SITE "L30" LEVEL 1;
COMP "vfat2_22_sbits_n_i<1>" LOCATE = SITE "E21" LEVEL 1;
COMP "vfat2_14_sbits_n_i<1>" LOCATE = SITE "M28" LEVEL 1;
COMP "vfat2_22_sbits_n_i<2>" LOCATE = SITE "D22" LEVEL 1;
COMP "vfat2_14_sbits_n_i<2>" LOCATE = SITE "M27" LEVEL 1;
COMP "vfat2_22_sbits_n_i<3>" LOCATE = SITE "E23" LEVEL 1;
COMP "vfat2_14_sbits_n_i<3>" LOCATE = SITE "N29" LEVEL 1;
COMP "vfat2_22_sbits_n_i<4>" LOCATE = SITE "E24" LEVEL 1;
COMP "vfat2_14_sbits_n_i<4>" LOCATE = SITE "R29" LEVEL 1;
COMP "vfat2_22_sbits_n_i<5>" LOCATE = SITE "C25" LEVEL 1;
COMP "vfat2_14_sbits_n_i<5>" LOCATE = SITE "R27" LEVEL 1;
COMP "vfat2_22_sbits_n_i<6>" LOCATE = SITE "D26" LEVEL 1;
COMP "vfat2_14_sbits_n_i<6>" LOCATE = SITE "T29" LEVEL 1;
COMP "vfat2_22_sbits_n_i<7>" LOCATE = SITE "F26" LEVEL 1;
COMP "vfat2_14_sbits_n_i<7>" LOCATE = SITE "U27" LEVEL 1;
COMP "tmds_d_n_io<0>" LOCATE = SITE "AC12" LEVEL 1;
COMP "tmds_d_n_io<1>" LOCATE = SITE "AD11" LEVEL 1;
COMP "cdce_pri_n_o" LOCATE = SITE "AP10" LEVEL 1;
COMP "cdce_pri_p_o" LOCATE = SITE "AN10" LEVEL 1;
COMP "tmds_d_p_io<0>" LOCATE = SITE "AC13" LEVEL 1;
COMP "tmds_d_p_io<1>" LOCATE = SITE "AD12" LEVEL 1;
COMP "vfat2_scl_o<0>" LOCATE = SITE "AC17" LEVEL 1;
COMP "vfat2_scl_o<1>" LOCATE = SITE "AC27" LEVEL 1;
COMP "vfat2_scl_o<2>" LOCATE = SITE "K21" LEVEL 1;
COMP "vfat2_scl_o<3>" LOCATE = SITE "Y27" LEVEL 1;
COMP "vfat2_scl_o<4>" LOCATE = SITE "J21" LEVEL 1;
COMP "vfat2_scl_o<5>" LOCATE = SITE "W27" LEVEL 1;
COMP "vfat2_4_sbits_n_i<0>" LOCATE = SITE "V29" LEVEL 1;
COMP "vfat2_4_sbits_n_i<1>" LOCATE = SITE "W30" LEVEL 1;
COMP "vfat2_4_sbits_n_i<2>" LOCATE = SITE "W32" LEVEL 1;
COMP "vfat2_4_sbits_n_i<3>" LOCATE = SITE "Y31" LEVEL 1;
COMP "vfat2_4_sbits_n_i<4>" LOCATE = SITE "AB31" LEVEL 1;
COMP "vfat2_4_sbits_n_i<5>" LOCATE = SITE "AC32" LEVEL 1;
COMP "vfat2_4_sbits_n_i<6>" LOCATE = SITE "AC30" LEVEL 1;
COMP "vfat2_4_sbits_n_i<7>" LOCATE = SITE "AD31" LEVEL 1;
COMP "vfat2_19_sbits_n_i<0>" LOCATE = SITE "C18" LEVEL 1;
COMP "vfat2_19_sbits_n_i<1>" LOCATE = SITE "B17" LEVEL 1;
COMP "vfat2_19_sbits_n_i<2>" LOCATE = SITE "B16" LEVEL 1;
COMP "vfat2_19_sbits_n_i<3>" LOCATE = SITE "C15" LEVEL 1;
COMP "vfat2_19_sbits_n_i<4>" LOCATE = SITE "B15" LEVEL 1;
COMP "vfat2_19_sbits_n_i<5>" LOCATE = SITE "C14" LEVEL 1;
COMP "vfat2_19_sbits_n_i<6>" LOCATE = SITE "C12" LEVEL 1;
COMP "vfat2_19_sbits_n_i<7>" LOCATE = SITE "E11" LEVEL 1;
COMP "qpll_ref_40MHz_o" LOCATE = SITE "H9" LEVEL 1;
COMP "vfat2_9_sbits_n_i<0>" LOCATE = SITE "AG17" LEVEL 1;
COMP "vfat2_9_sbits_n_i<1>" LOCATE = SITE "AJ16" LEVEL 1;
COMP "vfat2_9_sbits_n_i<2>" LOCATE = SITE "AH15" LEVEL 1;
COMP "vfat2_9_sbits_n_i<3>" LOCATE = SITE "AJ14" LEVEL 1;
COMP "vfat2_9_sbits_n_i<4>" LOCATE = SITE "AH14" LEVEL 1;
COMP "vfat2_9_sbits_n_i<5>" LOCATE = SITE "AH12" LEVEL 1;
COMP "vfat2_9_sbits_n_i<6>" LOCATE = SITE "AK11" LEVEL 1;
COMP "vfat2_9_sbits_n_i<7>" LOCATE = SITE "AG10" LEVEL 1;
COMP "qpll_locked_i" LOCATE = SITE "L9" LEVEL 1;
COMP "vfat2_21_sbits_n_i<0>" LOCATE = SITE "E28" LEVEL 1;
COMP "vfat2_13_sbits_n_i<0>" LOCATE = SITE "AG28" LEVEL 1;
COMP "vfat2_21_sbits_n_i<1>" LOCATE = SITE "D29" LEVEL 1;
COMP "vfat2_13_sbits_n_i<1>" LOCATE = SITE "AC25" LEVEL 1;
COMP "vfat2_21_sbits_n_i<2>" LOCATE = SITE "B32" LEVEL 1;
COMP "vfat2_13_sbits_n_i<2>" LOCATE = SITE "AD26" LEVEL 1;
COMP "vfat2_21_sbits_n_i<3>" LOCATE = SITE "D30" LEVEL 1;
COMP "vfat2_13_sbits_n_i<3>" LOCATE = SITE "AD21" LEVEL 1;
COMP "vfat2_21_sbits_n_i<4>" LOCATE = SITE "F29" LEVEL 1;
COMP "vfat2_13_sbits_n_i<4>" LOCATE = SITE "AF21" LEVEL 1;
COMP "vfat2_21_sbits_n_i<5>" LOCATE = SITE "E31" LEVEL 1;
COMP "vfat2_13_sbits_n_i<5>" LOCATE = SITE "AJ25" LEVEL 1;
COMP "vfat2_21_sbits_n_i<6>" LOCATE = SITE "G30" LEVEL 1;
COMP "vfat2_13_sbits_n_i<6>" LOCATE = SITE "AK29" LEVEL 1;
COMP "vfat2_21_sbits_n_i<7>" LOCATE = SITE "H32" LEVEL 1;
COMP "vfat2_13_sbits_n_i<7>" LOCATE = SITE "AH28" LEVEL 1;
COMP "tmds_clk_n_io" LOCATE = SITE "AE11" LEVEL 1;
COMP "tmds_clk_p_io" LOCATE = SITE "AF11" LEVEL 1;
COMP "vfat2_t1_n_o<0>" LOCATE = SITE "AG21" LEVEL 1;
COMP "vfat2_t1_n_o<1>" LOCATE = SITE "L26" LEVEL 1;
COMP "vfat2_t1_n_o<2>" LOCATE = SITE "K17" LEVEL 1;
COMP "vfat2_t1_p_o<0>" LOCATE = SITE "AG20" LEVEL 1;
COMP "vfat2_t1_p_o<1>" LOCATE = SITE "L25" LEVEL 1;
COMP "vfat2_t1_p_o<2>" LOCATE = SITE "K18" LEVEL 1;
COMP "vfat2_3_sbits_n_i<0>" LOCATE = SITE "AG32" LEVEL 1;
COMP "vfat2_3_sbits_n_i<1>" LOCATE = SITE "AF34" LEVEL 1;
COMP "vfat2_3_sbits_n_i<2>" LOCATE = SITE "AE32" LEVEL 1;
COMP "vfat2_3_sbits_n_i<3>" LOCATE = SITE "AC34" LEVEL 1;
COMP "vfat2_3_sbits_n_i<4>" LOCATE = SITE "AB33" LEVEL 1;
COMP "vfat2_3_sbits_n_i<5>" LOCATE = SITE "AA33" LEVEL 1;
COMP "vfat2_3_sbits_n_i<6>" LOCATE = SITE "Y34" LEVEL 1;
COMP "vfat2_3_sbits_n_i<7>" LOCATE = SITE "W34" LEVEL 1;
SCHEMATIC END;

